<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>+Estudo +Recompensa</title>
    <style>
        body {
            text-align: center;
        }
    </style>
    <img src="log.jpg" alt="+ Estudo + Recompensa">
</head>
<body>
    <h1>Welcome to the Activity Provider "+Study +Reward" page!</h1>
    <p>This is just an example page for testing when someone accesses root".</p>
</body>
</html>